h1 {
  text-align: center;
}

body {
  background-image: url(hiro-momo.jpg);
  background-size: 45% 150%;
  background-repeat: no-repeat;
  background-color: #e6e6e6;
  max-width: 100%;
  height: auto;

}

div.Text {
		width: 50%;
    float: right;
		text-align: justify;
}
div.shadowBox {
  width: 100%;
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.2);
	text-align: justify;
}

div.box {
	padding: 40px;
}
