* {
    box-sizing: border-box;
}

body {
  background-color: rgb(230, 230, 230);
}


.header {
    padding: 15px;
    font-family: Verdana, Sans-serif;
}


}
.row::after {
    content: "";
    clear: both;
    display: grid;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    overflow: hidden;
    display: inline-grid;
}

/* Desktops */
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/*[class*="col-"] */
img {
  margin-left: 2%;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  border-radius: 7px;
  position:fixed;
  height: 550px;
  border-style: solid;
  border-width: thin;
  border-color: rgb(220, 220, 220);
}




h1 {
  text-align: center;
}
/*

body {
  background-color: hsl(0, 0%, 98%);
}*/

div.Text {
  font-family: Georgia, serif;
    float: right;
		text-align: justify;
    background-color: rgb(230, 230, 230);
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 20px;
}

div.shadowBox {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
  background-color: rgb(220, 220, 220);
  transition: 0.5s;
  border-radius: 4px;
  margin-left: 16%;
  margin-right: 4%;
  margin-top: 3%;
  border-style: groove;
}

.container {
    padding: 4% 7%;
}

    /* For mobile phones: */

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
        float: left;
        padding: 15px;
        overflow: hidden;
        display:grid;
    }
}

@media only screen and (max-width: 768px) {
  img {
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    border-radius: 7px;
    position:fixed;
    height: 250px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(220, 220, 220);
  }
}

@media only screen and (max-width: 768px) {
  div.Text {
      font-family: Georgia, serif;
      float: right;
  		text-align: justify;
      background-color: rgb(230, 230, 230);
  }
}



@media only screen and (max-width: 768px) {
    div.shadowBox {
      box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
      background-color: rgb(220, 220, 220);
      transition: 0.5s;
      border-radius: 4px;
      border-style: groove;
    }
}

@media only screen and (max-width: 768px) {
  .container {
      padding: 4% 7%;
  }
}
