* {
    box-sizing: border-box;
}

.header {
    padding: 15px;
}


.row::after {
    content: "";
    clear: both;
    display: grid;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}




h1 {
  text-align: center;
}


body {
  background-color: hsl(0, 0%, 98%);
}

div.Text {
		width: 50%;
    float: right;
		text-align: justify;
}
div.shadowBox {
  width: 100%;
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.2);
	text-align: justify;
}

div.box {
	padding: 40px;
}
