* {
    box-sizing: border-box;
}


body {
  background-color: rgb(65,65,65);
  overflow: hidden;
}


.header {
  padding: 15px;
  font-family: Verdana, Sans-serif;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 5px;
    font-family: Verdana, Sans-serif;
  }
}

.row::after {
    content: "";
    clear: both;
    display: grid;
}

[class*="col-"] {
  width: 100%;
  float:left;
  overflow: hidden;
  display: inline-block;
}

/* Desktops */

img {
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    border-radius: 7px;
    height: 500px;
    border-style: solid;
    border-width: normal;
    border-style: groove;
    border-color: rgb(65,65,65);
    z-index: -1;
}

@media screen and (max-width: 768px) {
  img {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    height: 300px;
    border-style: solid;
    border-width: normal;
    border-style: groove;
    border-color: rgb(55,55,55);
    z-index: -1;
    overflow: hidden;
    float: right;
  }
}

div.Text {
    font-family: Georgia, serif;
    text-align: justify;
    text-shadow: 5px;
    background-color: rgb(65,65,65);
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 25px;
    color: rgb(25,25,25);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}

@media screen and (max-width: 768px) {
  div.Text {
    font-family: sans-serif;
    text-align: justify;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    background-color: rgb(65,65,65);
    font-size: 15px;
    letter-spacing: 0.6px;
    line-height: 20px;
    color: rgb(30,30,30);
    font-weight: bolder;
    text-shadow: 5px;
    overflow: hidden;
  }
}

div.shadowBox {
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
  transition: 0.5s;
  background-color: rgb(120,120,120);
  border-radius: 4px;
  border-style: groove;
  border-color: rgb(140,140,140);
}

@media screen and (max-width: 768px) {
  div.shadowBox {
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    background-color: rgb(120,120,120);
    transition: 0.5s;
    border-radius: 4px;
    border-style: groove;
    border-color: rgb(140,140,140);
    overflow: hidden;
  }
}

.container {
    padding: 4% 7%;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 2% 4%;
  }
}

@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 45.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
