button.menuBttn {
  z-index: 1;
  margin: 0;
  width: 45px;
  height: 45px;
  border-radius: 3px;
  cursor: pointer;
  border-color: rgb(85,85,85);
  background-color: rgb(65,65,65);
  border-style: groove;
  border-width: 1.5px;
  border-radius: 4px;
  padding: 3px 3px;
}


@media only screen and (min-width: 768px) {
  button.menuBttn {
    opacity: 0;
    cursor: auto;
  }
}

.bgr1, .bgr2, .bgr3 {
  margin: 3px 0;
  width: 90%;

  z-index: 1;
  transition: 0.4s;
  border-radius: 4px;
  border-style: groove;
  border-color: rgb(130,130,130);
}

@media only screen and (min-width: 768px) {
  .bgr1, .bgr2, .bgr3 {
    opacity: 0;
  }
}

.change .bgr1, .change .bgr2, .change .bgr3 {
  opacity: 0;
}


ul {
  display: none;
}

.change ul {
    display: grid;
    list-style-type: none;
    margin: 0;
    top: 0;
    padding: 0;
    z-index: 1;
    width: 100px;

    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.1);
    background-color: rgb(60,60,60);

    border-radius: 6px;
    border-style: groove;
    border-color: rgb(65,65,65);
    border-width: 1.5px;
}

@media only screen and (min-width: 768px) {
  ul {
    list-style-type: none;
    margin: 0;
    margin-left: -5%;
    margin-right: -5%;
    display: grid;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.1);
    background-color: rgb(60,60,60);
    top: 0;
    border-radius: 3px;
    border-style: groove;
    border-color: rgb(65,65,65);
    border-width: 1.5px;
  }
}

li {
  float: right;
}

li a {
  display: block;
  color: #e6e6e6;
  background-color: #404040;
  text-align: center;
  padding: 16px 11px;
  text-decoration: none;
  border-radius: 3px;
  border-color: #333333;
}

li.dropdown {
  box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
  color: #e6e6e6;
  display: inline-block;
}

li a, .dropbtt {
  box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
  border-style:solid;
  border-color: rgb(70,70,70);
  border-width:2px;

  display: block;
  padding: 15px 15px;

  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  font-family: sans-serif;
}

li a:hover, .dropdown:hover .dropbtt {
  background-color: rgb(55, 55, 55);
  clear: both;
  border-radius: 0px;
  border-style:solid;
  border-color: black;
  border-width:1px;
}



.dropdown-menu {
  display: none;
  position: fixed;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.2);
  z-index: 1;
  float: right;
}

.dropdown-menu a {
  color: #e6e6e6;
  padding: 12px 15px;
  box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
  text-decoration: none;
  display: block;
  text-align: right;
  text-shadow: 5px;
  border-radius: 5px;
}

.dropdown-menu a:hover {
  background-color: #4d4d4d;
  border-radius: 3px;
  opacity: 0.85;
}

.dropdown:hover .dropdown-menu {
  display:block;
  float: right;
  -webkit-transform: translate(100px,-35px);
  transform: translate(100px,-35px);
}
