ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #404040;
  top: 0;
  width: 100%;
}

li {
  float:right;
}

li a, .dropbtt {
  display: inline-block;
  color: LightCyan;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtt {
  background-color: #1a1a1a;
}
li.dropdown {
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: SlateBlue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-menu a {
  color: LightCyan;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

.dropdown-menu a:hover {background-color: LightSeaGreen}

.dropdown:hover .dropdown-menu {
  display:block;
}

li a {
  display: block;
  color: #e6e6e6;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #a6a6a6;
}

.active {
  background-color: #e6e6e6;
}
