/* Navigation Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.1);
  background-color: rgb(60,60,60);
  top: 0;
  border-radius: 3px;
  border-style: groove;
  border-color: rgb(65,65,65);
  border-width:2px;
}

li {
  float:right;
}


/* dropdown button */
li a, .dropbtt {
  border-style:solid;
  border-color: rgb(65,65,65);
  border-width:1px;
  display: block;
  text-align: center;
  padding: 16px 14px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
}

/* dropdown button - hovering */
li a:hover, .dropdown:hover .dropbtt {
  background-color: rgb(55, 55, 55);
  clear: both;
  border-radius: 0px;
  border-style:solid;
  border-color: rgb(65,65,65);
  border-width:1px;
}

li.dropdown {
  color: #e6e6e6;
  display: inline-block;
}

/* Dropdown menu */
.dropdown-menu {
  display: none;
  position: fixed;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.2);
  z-index: 1;
  float: left;
}

/*Inside menu*/
.dropdown-menu a {
  color: #e6e6e6;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
  text-shadow: 5px;
}

.dropdown-menu a:hover {background-color: rgb(55, 55, 55);}

/* dropdown feature */
.dropdown:hover .dropdown-menu {
  display:block;
}


/* Buttons on navigation bar */
li a {
  display: block;
  color: #e6e6e6;
  text-align: center;
  padding: 16px 11px;
  text-decoration: none;
  border-radius: 3px;
}

/* About button hover */
li a:hover:not(.active) {
  background-color: #404040;
  border-radius: 3px;
}


/* About button */
.active {
  background-color: rgb(45,45,45);
  border-radius: 3px;
}

.active.dropdown {}
