/*=============== Nav Bar with dropdown*/


/* Navigation Bar */
@media screen and (max-width: 768px) {
  ul {
    list-style-type: none;
    margin: 0;
    margin-left: -5%;
    margin-right: -5%;
    padding: 0;
    overflow: hidden;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.1);
    background-color: rgb(60,60,60);
    top: 0;
    border-radius: 3px;
    border-style: groove;
    border-color: rgb(65,65,65);
    border-width: 1.5px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.1);
  background-color: rgb(60,60,60);
  top: 0;
  border-radius: 3px;
  border-style: groove;
  border-color: rgb(65,65,65);
  border-width: 1.5px;
}

@media screen and (min-width: 768px) {
  li {
      float:right;
  }
}

/* dropdown button */
@media screen and (max-width: 768px) {
  li button.dropbtt {
    background-color: #330033;
    color: #e6e6e6;
    padding: 16px 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: center;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    opacity: 0.8;
    display: none;
    border-style:solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: #1a0d26;
    font-family: sans-serif;
    font-weight: bolder;
    text-decoration: none;
  }
}

li button.dropbtt {
    border-style:solid;
    border-color: rgb(70,70,70);
    border-width:1px;
    display: none;
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    font-family: sans-serif;
}

/* dropdown button - hovering */
@media screen and (max-width: 768px) {
  li button.dropbtt:hover, .dropdown:hover button.dropbtt.active, .dropdown:focus button.dropbtt:focus {
    opacity: 0.4;
    clear: both;
  }
}

li a:hover, .dropdown:hover button.dropbtt.active, .dropdown:hover button.dropbtt:hover {
    opacity: 0.4;
    clear: both;
    border-radius: 0px;
    border-style:solid;
    border-color: black;
    border-width:1px;
}

@media screen and (max-width: 768px) {
  li a:hover, .dropdown:focus button.dropbtt.active, .dropdown:hover button.dropbtt:hover {
    opacity: 0.4;
    clear: both;
  }
}

li a:hover, .dropdown:hover button.dropbtt {
    background-color: rgb(55, 55, 55);
    clear: both;
    border-radius: 0px;
    border-style:solid;
    border-color: black;
    border-width:1px;
}

@media screen and (max-width: 768px) {
  li.dropdown {
    color: #e6e6e6;
    display: block;
  }
}

li.dropdown {
  color: #e6e6e6;
  display: inline-block;
}

/* Dropdown menu */
@media screen and (max-width: 768px) {
  .dropdown_menu {
    display: none;
    position: fixed;
    padding: 0 18px;
    background-color: #d9d9d9;
    max-height: 0;
    z-index: 1;
    float: left;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}

.dropdown_menu {
  display: none;
  position: fixed;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.2);
  z-index: 1;
  float: left;
}


/* ========================== */

/*Inside menu*/
@media screen and (max-width: 768px) {
  .dropdown_menu a {
    color: #e6e6e6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    text-shadow: 5px;
  }
}

.dropdown_menu a {
  color: #e6e6e6;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
  text-shadow: 5px;
}

@media screen and (max-width: 768px) {
  .dropdown_menu a:hover {opacity: 0.5;}
}

.dropdown_menu a:hover {background-color: #4d4d4d;}


/* dropdown feature */
@media screen and (max-width: 768px) {
  .dropdown:focus .dropdown_menu {
    display:block;
  }
}

.dropdown:focus .dropdown_menu {
  display:block;
}

/* Buttons on navigation bar */
@media screen and (max-width: 768px) {
  li a {
    display: block;
    color: #e6e6e6;
    background-color: #404040;
    text-align: center;
    padding: 16px 11px;
    text-decoration: none;
    border-radius: 3px;
    border-color: #333333;
  }
}

li a {
  display: block;
  color: #e6e6e6;
  background-color: #404040;
  text-align: center;
  padding: 16px 11px;
  text-decoration: none;
  border-radius: 3px;
  border-color: #333333;
}

/* About button hover */
@media screen and (max-width: 768px) {
  li a:hover:not(.active) {
    background-color: rgb(55, 55, 55);
    border-radius: 3px;
    border-style:solid;
    border-color: black;
    border-width:1px;
    display: none;
  }
}

li a:hover:not(.active) {
  background-color: rgb(55, 55, 55);
  border-radius: 3px;
  border-style:solid;
  border-color: black;
  border-width:1px;
  display: none;
}

/* dropdown feature */
@media screen and (max-width: 768px) {
  .dropdown:hover .dropdown_menu {
    display:block;
  }
}

.dropdown:hover .dropdown_menu {
  display:block;
}
