body {
  background-image: url(tyler.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-left: 3%;
}



@media only screen and (min-width: 400px) {
  body {
    background-image: url(mobile.png);
    background-repeat: no-repeat;
    background-size: contain ;
    position: absolute;
    clip: rect(0, 100px, 200px, 0);
  }
}



h3 {
  color: white;
  position: fixed;
  font-size: 15px;
  text-shadow: 1px 1px gray;
}

h4 {
  color: white;
  position: absolute;
  top: 40%;
  font-size: 15px;
  text-shadow: 2px 2px gray;
}

p.sansserif {
  font-family: "Arial Narrow", Arial, sans-serif;
  line-height: 15px;
  letter-spacing: 3px;
  font-weight: lighter;
}

p.fb {
    top:90%;
    position: fixed;
    word-spacing: 30px;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
    color:white;
    font-size: 15px;
    text-shadow: 1px 1px gray;
}

a:link{
  text-decoration: none;
  color: white;
}

a:hover{
  color: LightGray;
}
a:visited {
  color: white;
}


#insta-square-icon {
  top: 90%;
  position: fixed;
  border-radius: 6px;
  background-size: contain;
  border: 3px solid white;
  padding: 5px;
  width: 3px;
  height: 3px;
  text-shadow:  1px 2px gray;
}

#insta-circle-icon {
  top: 90%;
  border-radius: 3px;
  position: relative;
  background-size: contain;
  border: 3px solid white;
  padding: 3px;
  width: 3px;
  height: 3px;
}





.dropbtn {
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: grey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
