* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    background-color: #f1f1f1;
}

.header {
    text-align: center;
    padding: 100px;
    background-color: #f1f1f1;
    color: grey;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 1px;
}

.column img {
    margin-top: 1px;
    display: inline-grid;
}

a:hover {
  opacity: 0.9;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: inline-grid;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
    opacity: 0.9;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
