* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: red;
    border: 3px solid #0d0d0d;
    font-family: Arial;
}

/*#1a1a1a*/

.header {
    text-align: center;
    padding: 100px;
    background-color: #f1f1f1;
    color: grey;
}

/* Create two equal columns that floats next to each other */
.column {
    float: right;
    width: 50%;
}

.column img {
    display: inline-grid;
    background-color: #262626;
    border: 3px solid #0d0d0d;
    border-radius: 3px;
}

a:hover {
  opacity: 0.9;
}


/* Clear floats after the columns */
.row::after {
    content: "";
    display: inline-grid;
}
